body {
    background-image: url('../views/img/imagem-02.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}